nav{
 width: 100vw;
}

li{
  list-style-type: none;
  margin: 0 2vw;
  font-size: 125%;
}

ul{
  margin: 0;
  padding: 0px 5px 5px 5px;
  display:flex;
}

a{
  text-decoration: none;
  color: #48484d;
  background-color: #2ae2e8;
 }

.Social_links{
  margin: 5px;
}

main{
  color: #000000;
  background-color: none;
  padding: 10px 10px 10px 10px;
  margin: 25px;
  font-size: 25px;
}

body {
  text-align: left;
  font-size: 20px;
}

html{
  font-family: 'PT Serif', sans-serif;
  margin: 20px;
}
