nav{
 width: 100vw;
}

ul{
  padding: 10px 10px 10px 10px;
  display:flex;
}

li{
  list-style-type: none;
  margin: 0 2vw;
  font-size: 125%;
}

a{
  text-decoration: none;
  color: #48484d;
  background-color: #2ae2e8;
  padding: 10px 10px 10px 10px;
 }


body {
  text-align: center;
}

h1{
  color: #000000;
}

body{
  font-size: 20px;
}
html, body{
  font-family: 'PT Serif', sans-serif;
  margin: 20px;
  color: #48484d;
}
